@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.instagram-link {
  display: block;
  background: url("../images/svg/insta.svg") center center no-repeat;
  background-size: contain;
}

.section-heder .section-heder__title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  text-transform: lowercase;
}
.section-heder .section-heder__title::first-letter {
  text-transform: uppercase;
}

.nav {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav__inner {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  height: 100px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}
.nav__inner .instagram-link {
  width: 24px;
  height: 24px;
}
.nav__item {
  align-self: center;
}
.nav__item_link {
  cursor: pointer;
  font-family: Cormorant Garamond;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  text-transform: lowercase;
  line-height: 130%;
  color: #fff;
}
.nav__item_link::first-letter {
  text-transform: uppercase;
}
.nav__item_link:hover {
  color: #CDAA7D;
}
.nav__item_link.active {
  color: #CDAA7D;
  border-bottom: 1px solid #CDAA7D;
}
.nav__item_burger {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  padding-top: 60%;
  z-index: 999;
  position: relative;
  display: block;
  width: 32px;
  height: 2px;
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
}
.nav__item_burger::after, .nav__item_burger::before {
  position: relative;
  left: 0;
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background: #fff;
  transition: ease 0.333s;
}
.nav__item_burger::after {
  top: -12px;
}
.nav__item_burger::before {
  top: -20px;
}
.nav__item_burger.active {
  border-color: transparent;
}
.nav__item_burger.active::after {
  top: -22px;
  transform: rotate(38deg);
  transform-origin: bottom left;
}
.nav__item_burger.active::before {
  top: 100%;
  transform: rotate(-38deg);
  transform-origin: top left;
}
.nav .nav-modal {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow-y: auto;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  width: 475px;
  height: 100vh;
  background: #000;
  transition: ease 0.333s;
  transform: translateX(100%);
}
.nav .nav-modal .nav-modal__body {
  padding: 286px 80px 15px;
}
.nav .nav-modal.active {
  transform: translateX(0%);
}
.nav .nav-modal .info .info__item {
  margin-bottom: 60px;
}
.nav .nav-modal .body-text {
  margin-bottom: 80px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.screensaver {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/leyaot.jpeg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
}
.screensaver-content {
  padding: 0 15px;
  align-self: center;
  justify-self: center;
  max-width: 961px;
}
.screensaver__title {
  color: #fff;
  text-align: center;
  font-family: Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  font-family: "Cormorant Garamond", serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.screensaver .sub-info {
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.screensaver .sub-info .visiol-mouse {
  margin-right: 20px;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 40px;
}
.grid-section__picture {
  display: block;
  margin-bottom: 30px;
  padding-top: 70%;
  position: relative;
  border: solid 2px rgba(205, 170, 125, 0.5);
}
.grid-section__picture source,
.grid-section__picture img {
  z-index: 2;
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-section__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: lowercase;
}
.grid-section__title::first-letter {
  text-transform: uppercase;
}
.grid-section__subtitle {
  display: block;
  font-weight: 300;
}

.works {
  padding-top: 168px;
  padding-bottom: 90px;
}
.works .section-heder {
  margin-bottom: 80px;
}
.works .filter__controls {
  margin-bottom: 60px;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.works .filter__controls button {
  cursor: pointer;
  padding: 8px 4px;
  color: #fff;
  background: none;
  border: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-transform: lowercase;
  border-bottom: 2px solid transparent;
}
.works .filter__controls button::first-letter {
  text-transform: uppercase;
}
.works .filter__controls button:hover {
  color: #CDAA7D;
}
.works .filter__controls button.active {
  color: #CDAA7D;
  border-color: #CDAA7D;
}
.works .filter__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.works .filter__item {
  padding-top: 100%;
  position: relative;
  transition: ease 0.333s;
}
.works .filter__item img,
.works .filter__item source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works .filter__item.hide {
  display: none;
}

.footer {
  padding: 80px 0;
  border-top: solid 2px rgba(255, 255, 255, 0.5);
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
  background: #222;
}
.footer .footer__inner {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}
.footer .footer__inner .footer__info {
  display: grid;
  grid-auto-flow: column;
}
.footer .instagram-link {
  width: 36px;
  height: 36px;
}
.footer .footer__title,
.footer .footer__info {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-transform: lowercase;
}
.footer .footer__title::first-letter,
.footer .info__title::first-letter {
  text-transform: uppercase;
}

.scroller {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 7px;
  background: transparent !important;
}
.scroller::after {
  content: "";
  display: block;
  position: relative;
  top: 20%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  transform: translateX(-50%);
  animation-name: mouseScroll;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
}
@keyframes mouseScroll {
  0% {
    top: 0%;
    opacity: 1;
  }
  19% {
    top: 15%;
    opacity: 0.8;
  }
  100% {
    top: 80%;
    opacity: 0;
  }
}

.screensaver {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  min-height: 100vh;
  display: grid;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/leyaot.jpeg") center center no-repeat;
  background-size: cover;
}
@supports (background: url("../images/leyaot.webp")) {
  .screensaver {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/leyaot.webp") center center no-repeat;
    background-size: cover;
  }
}
.screensaver-content {
  padding: 0 15px;
  align-self: center;
  justify-self: center;
  max-width: 961px;
}
.screensaver__title {
  color: #fff;
  text-align: center;
  font-family: Garamond;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  font-family: "Cormorant Garamond", serif;
}
.screensaver .scroller-box {
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.screensaver .scroller-box p {
  margin-left: 15px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.cite {
  padding-top: 122px;
  padding-bottom: 95px;
}
.cite__content {
  padding-top: 126px;
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 856px;
}
.cite__content p {
  font-size: 27px;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}
.cite__content::after {
  content: "";
  display: block;
  width: 80px;
  height: 64px;
  background: url("../images/svg/coma.svg") center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.brands {
  position: relative;
  padding-top: 150px;
}
.brands__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 0 24px;
}
.brands__item {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 40%;
  opacity: 0.5;
}
.brands__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */