$main-color: #222;
$text-color: #fff;
$hover-color: #CDAA7D;
$border-colors: rgb(255, 255, 255, 0.5);
$border-style: solid 2px $border-colors;
$border-gris-style: solid 2px rgba(205, 170, 125, 0.5);



$scroller-collor: #fff;


$backgroudn-gradient:rgba(0, 0, 0, 0.6);