
//====================================================================>>
$textColor: #fff;
$darkColor: #111;

$borderStyle: solid 2px rgb(255, 255, 255, 0.5);
$navHeight: 100px;







//=================================================================>>>
// СЕКЦИЯ OFFER
// регулеровка высоты изображения == % ширине блока
.offer .grid-section .grid-section__picture {
    padding-top: 75%;
}

//=================================================================>>>




//=================================================================>>>

.info {
    display: grid;

    &__item &__title {
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 700;
        line-height: 120%;
    }

    &__text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    &__text:not(:last-child) {
        margin-bottom: 15px;
    }

    &__item {
        display: grid;

        a {
            display: inline-block;
            font-size: 18px;
        }
    }
}

//=================================================================>>>


.prise-page{
    padding-top: 180px;
}

.section-heder{
    margin-bottom: 80px;
  }